/* Center the content vertically and horizontally */
.abt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .head1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .head2 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }
  
  .para {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .ull {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .lists {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: larger;
  }
  
  strong {
    font-weight: bold;
  }
  
  .footer {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  .social {
    display: flex;
  }
  
  .social a {
    margin-right: 1rem;
    color: #333;
  }
  
  .copy {
    margin: 0;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .rating-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .stars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .star {
    font-size: 50px;
    color: #ffc107;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star:hover,
  .star.selected {
    color: #e0ed8a;
  }
  
  
  
  